---
interface Props {
  projectData: {
    title: string;
    details: string;
    image: string;
    link: string;
  };
}

const { projectData } = Astro.props;
const { title, image, details, link } = projectData;
---

<a
  href={link}
  class="relative rounded-md border border-neutral-700 bg-neutral-900 p-4 transition-colors duration-300 hover:border-neutral-600"
>
  <img src={image} alt={title} class="w-full rounded-md lg:h-72" />
  <div class="pt-2">
    <h2 class="font-semibold text-neutral-200 md:text-lg">{title}</h2>
    <p class="text-neutral-400 md:text-lg">{details}</p>
  </div>
  <div
    class="absolute left-0 top-0 -z-10 h-full w-full rounded-3xl bg-gradient-to-r from-blue-600 to-sky-600 opacity-20 blur-3xl transition-all duration-500"
    aria-hidden
  >
  </div>
</a>
